@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Kanit&family=Poppins&display=swap');

.titleStress {
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.title {
    font-family: 'Printvetica';
    src: url('Printvetica.otf') format('opentype')
}

.fontDescription {
    font-family: 'Poppins', sans-serif;
}
